<p id="notice"><%= notice %></p>

<h1>Listing Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Matiere</th>
      <th>Student</th>
      <th>Mentor</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.matiere.Name %></td>
        <td><%= reservation.student.FirstName %> </td>
        <td><%= reservation.mentor.FirstName %></td>
       La date de la seance est: <%= reservation.date %>
        
        <td><%= link_to 'Edit', edit_mentor_reservation_path(reservation.mentor, reservation) %></td>
        <td><%= link_to 'Destroy', mentor_reservation_path(reservation.mentor, reservation), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>