<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @matiere.Name %>
</p>

<p>
  <strong>Presentation:</strong>
  <%= @matiere.Presentation %>
</p>

<%= link_to 'Edit', edit_matiere_path(@matiere) %> |
<%= link_to 'Back', matieres_path %>
